<ion-view title="文章">
    <ion-content>
        <div class="padding">
        	<img class="full-image" src="{{messageDetail.cover_pic}}"/>
        	
        	<div>
        		<h3 class="text-center">{{messageDetail.message_title}}</h3>
        	</div>

        	<div class="item item-avatar">
			    <img src="{{messageDetail.author_img}}" style="width:80px; height:80px"></img>
			    <h2>{{messageDetail.author_name}}</h2>
			    <p>{{messageDetail.create_time | UnixTimeFilter}}</p>
			</div>

			<div class="item item-body">
				<pre>{{messageDetail.message_content}}</pre>
			</div>

            <div class="item item-divider"></div>
        </div>
    </ion-content>

    <div class="tabs">
      <a class="tab-item">
        <i class="icon ion-chevron-left" ng-click="goBack()"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-thumbsup"></i>
      </a>
      <a class="tab-item" href="#/commentList/1">
        <i class="icon ion-ios-chatboxes-outline"></i>
      </a>
    </div>

</ion-view>