<ion-view title="文章">
    <ion-content>
        <div class="padding">

        	<img class="full-image" src="{{messageDetail.cover_pic}}"/>
        	
        	<div>
        		<h3 class="text-center">{{messageDetail.message_title}}</h3>
        	</div>

        	<div class="item item-avatar">
			    <img src="{{messageDetail.author_img}}" style="width:80px; height:80px"></img>
			    <h2>{{messageDetail.author_name}}</h2>
			    <p>{{messageDetail.create_time | UnixTimeFilter}}</p>
			</div>

			<div class="item item-body">
			    
				<p>{{messageDetail.message_content}}</p>
			    <p>
			      <a href="#" class="subdued">{{messageDetail.good_num}} Like</a>
			      <!--
			      <a href="#" class="subdued">{{messageDetail.comment_num}} Comments</a>
			      -->
			    </p>
			</div>

        </div>
    </ion-content>
</ion-view>